<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

  {{ partial "head.html" . }}

  <body class="{{ .Params.title }}">

    <div id="all">

        <header>

          {{ partial "nav.html" . }}

        </header>
        {{ if isset .Params "header" }}
              {{ partial .Params.header . }}
        {{ else }}
              {{ partial "breadcrumbs.html" . }}
        {{ end }}
        {{.Site.Data.team.prova}}
        <div id="content">
            {{ if isset .Params "id" }}

              {{ partial .Params.id . }}

            {{ else }}
            <div class="container">

                <div class="row">

                    <div class="col-md-12 beautiful">
                        <div>
                          {{ .Content }}
                        </div>

                    </div>

                </div>
                <!-- /.row -->

            </div>
            <!-- /.container -->

            {{ end }}
        </div>
        <!-- /#content -->

        {{ partial "footer.html" . }}

    </div>
    <!-- /#all -->

    {{ partial "scripts.html" . }}
    
  </body>
</html>
