{{ if isset .Site.Params "testimonials" }}
{{ if .Site.Params.testimonials.enable }}
{{ if gt (len .Site.Data.testimonials) 0 }}
<section class="bar background-pentagon no-mb">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <!-- *** TESTIMONIALS CAROUSEL *** -->
                <ul class="testimonials2 same-height-row">
                    {{ range .Site.Data.testimonials }}
                    <li class="item-home">
                        <div class="testimonial same-height-always">
                              <div class="{{ .img }}"></div>
                              <div class="name-picture">

                                  <h4 class="t8p-title">{{ i18n .name }}</h4>
                              </div>

                            <div class="text" style="text-align: left; vertical-align: top">
                                <p>{{ i18n .text | markdownify }}</p>
                            </div>
                        </div>
                    </li>
                    {{ end }}
                </ul>
                <!-- /.owl-carousel -->

                <!-- *** TESTIMONIALS CAROUSEL END *** -->
            </div>

        </div>
    </div>
</section>
<!-- /.bar -->
{{ end }}
{{ end }}
{{ end }}
